<p>
  <select id="gameId">
  </select>
  <button id="getGameById" >Load Game</button>
</p>

<p>
  <label>Who goes first?
    <select id="firstPlayer">
      <option value="1">Player 1 (human)</option>
      <option value="2">Player 2 (bot)</option>
    </select>
  </label>
</p>
<p>
  <label>Difficulty?
    <select id="difficulty">
      <option value="random">Random</option>
      <option value="easy">Easy</option>
      <option value="hard">Hard</option>
    </select>
  </label>
  <button id="createNewGame" >Create game </button>
</p>

You are red, the computer is blue.
<table id="gameTable"></table>