<p>
  <input type="text" id="gameId" />
  <button id="getGameById" >Get Game </button>
</p>

<p>
  <label>go first? <input type="checkbox" id="goFirst" checked/></label>
  <select id="difficulty">
    <option>easy</option>
    <option>hard</option>
  </select>
  <button id="createNewGame" >Create game </button>
</p>

You are red, the computer is blue.
<table id="gameTable"></table>