table {
    border-collapse: collapse;
}
td {
    padding: 10px;
    border: 1px solid #aaaaaa;
}
td div {
    height:40px;
    width:40px;
    border-radius:20px;
}
td div.red {
    background-color: red;
}
td div.blue {
    background-color: blue;
}
div#result {
    font-size:18px;
    color: red;
    font-weight: bold;
}